<div class="row">
  <div class="col-2">
    <button (click)="getChristmas()" class="btn-link">Christmas</button>
    <button (click)="getHalloween()" class="btn-link">Halloween</button>
    <button (click)="getEaster()" class="btn-link">Easter</button>
    <button (click)="getNewyear()" class="btn-link">New Year</button>
    <button (click)="getValentine()" class="btn-link">Valentine's Day</button>
    <button (click)="getPatrick()" class="btn-link">St. Patrick's Day</button>
    <button (click)="getThanksgiving()" class="btn-link">Thanksgiving</button>

  </div>
  <div class="col">
    <app-recipe></app-recipe>
  </div>
</div>
