/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';


body {
  font-family: 'Droid Sans', sans-serif;
  //background-color: #f1f6eb;
  background-image: url("./img/background.jpg");
  background-attachment: fixed;
  font-size: 16px;
}


.container{
  //background-color: #eaeeba;
  //background-color: #f1f6eb;
  background: rgba(241, 246, 235, 0.8);
  margin-top: 65px;
  padding-top: 20px;
  padding-bottom: 20px;

}

/*  Button styles */

.btn-primary {
  background: #f1f6eb;
  color: #11032d;
  border: 1px solid #32d69a;

}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #32d69a;
  border: 1px solid #32d69a;
}

.btn-primary:active, .btn-primary.active {
  background: #32d69a;
  box-shadow: none;
}

#space{
  padding-top: 5px;
}

#food-img{
  height: 231px;
  width: 312px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}
.flex-item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 250px;
  justify-content: flex-start;
  display: flex;
}
.flex-item img {
  cursor: pointer;
}
figure {
  margin: .5em;
  position: relative;
}

figcaption {
  display: none;
}

figure:hover > figcaption {
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
}

figcaption p {
  margin: 0;
  text-align: center;
}

input {
  border-radius: 4px;
  width: 200px;
  height: 37px;
}

/*Colors in Palette
Color Hex RGB
#f1f6eb
#eaeeba
#32d69a
#015f57
#11032d
*/
@media screen and (max-width: 991px) {
  .container {
    margin-top: 50px;
  }
}

