<div class="row">
  <div class="col">
     <button (click)="getGlutenfree()" class="btn-link">Gluten-free </button>
    <button (click)="getLactosefree()" class="btn-link">Lactose-free</button>
    <button (click)="getSugarfree()" class="btn-link">Sugar-free</button>
    <button (click)="getFatfree()" class="btn-link">Fat-free</button>
     <button (click)="getHealthy()" class="btn-link">Healthy</button>
     <button (click)="getPaleo()" class="btn-link">Paleo</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-recipe></app-recipe>
  </div>
</div>
