<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top" id="nav1">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto w-100 justify-content-center">
      <li class="nav-item">
        <a class="nav-link" id="nav1-link-color" [routerLink]="['main']"><i class="fa fa-home fa-2x"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav1-link-color" [routerLink]="['search']"><i class="fa fa-search fa-2x"></i> Recipe search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav1-link-color" [routerLink]="['fridge']"><i class="fa fa-cutlery fa-2x"></i> What's in a fridge</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" id="nav1-link-color" [routerLink]="['own']"><i class="fa fa-address-book-o fa-2x"></i> Own recipes</a>
      </li>

    </ul>
  </div>
</nav>
