<div class="flex-container">
  <div class="flex-item" *ngFor="let resepti of recipes">
    <figure>
      <img class="img-fluid" id="food-img" src="{{ resepti.image }}">
      <figcaption>
        <p id="link-wrap"><a [href]="resepti.url" target="_blank">{{ resepti.title }}</a></p>
      </figcaption>
      <div id="space">
      <button class="btn btn-primary" (click)="setPrefrences(resepti)" [hidden]="suosikit" id="addok">Add to favorites</button>


      </div>
    </figure>
  </div>
</div>

<!--

<div class="modal fade" class="btn btn-primary" data-toggle="modal" data-target="#addok" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="alert alert-success" role="alert">Added to favourites</div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
