      <div class="col">

        <div class="row">
          <div class="col">
            <h4>What's in a fridge ?</h4>
 <!--          <div class="row">
              <div class="col-4">
                Ingredient <br><input type="text" [(ngModel)]="ingredient">
              </div>
              <div class="col">
                Ingredient <br><input type="text" [(ngModel)]="ingredient2">
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                Ingredient <br><input type="text" [(ngModel)]="ingredient3">
              </div>
              <div class="col">
                Ingredient <br><input type="text" [(ngModel)]="ingredient4">
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                Ingredient <br><input type="text" [(ngModel)]="ingredient5">
              </div>
              <div class="col">
                Ingredient <br><input type="text" [(ngModel)]="ingredient6">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <br>
                <button (click)="getFridgefood()">Search</button>
              </div>
            </div>-->
<form #aineet="ngForm" (submit)="getFridgefood(aineet.value)">
              <fieldset *ngFor="let ingredient of ingredients; let i = index">
                  <div class="row">
                    <div class="col">
                  Ingredient {{1+i}} <input type="text" ngModel name="{{i}}">
                    </div>
                  </div>
                <br>
              </fieldset>
  <button class="btn btn-primary"><a (click)="addNewItem()">Add Field</a></button>
  <button class="btn btn-primary"><a (click)="removeItem()">Remove Field</a></button>


            <button class="btn btn-primary" type="submit">Search</button>
</form>
            <br>
          <div class="row">
            <div class="col">

              <app-recipe></app-recipe>
            </div>
          </div>
        </div>
      </div>






