<div class="row">
  <div class="col">

    <a href="#"><button class="button">Special diet</button></a>

    <a href="#"><button class="button">Meals</button></a>

    <a href="#"><button class="button">Holidays</button></a>

    <a href="#"><button class="button">Vegan</button></a>

    <a href="#"><button class="button">Own Recipies</button></a>

  </div>
</div>

<!--
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="nav2">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="nav1-link-color" href="#">Special diet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav1-link-color" href="#">Meals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav1-link-color" href="#">Holidays</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav1-link-color" href="#">Vegan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav1-link-color" href="#">Own Recipies</a>
      </li>
       </ul>
  </div>
</nav>
-->

